

/* GLOBALS */

/* 
* Change the values of these variables to customize how your customponents look.
*/

:root {

/*
*Header
*/
    --headerBackground: blue;
    --headerBackgroundImage: none;
    --headerOpacity: 1;

    /* Border */
    --headerBorder: none;
    --headerBorderTop: none;
    --headerBorderRight: none;
    --headerBorderBottom: none;
    --headerBorderLeft: none;

    /* Border Radius */
    --headerBorderRadius: 0;
    --headerBorderTopLeftRadius: 0;
    --headerBorderTopRightRadius: 0;
    --headerBorderBottomLeftRadius: 0;
    --headerBorderBottomRightRadius: 0;

/* 
*Menu
*/
    --menuBackground: transparent;
    --menuOpacity: 1;

}