@import url("config.css");


* {
    margin: 0;
}

/* ERRORS */

.customponents-error-wrapper {
    background: #fff;
    color: red;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Roboto";
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0,0,0,0.25);
}



/* Headers */

.customponents-header {
    background: var(--headerBackground);
    background-image: var(--headerBackgroundImage);
    opacity: var(--headerOpacity);
    width: 100vw;

    border: var(--headerBorder);
    border-top: var(--headerBorderTop);
    border-right: var(--headerBorderRight);
    border-bottom: var(--headerBorderBottom);
    border-left: var(--headerBorderLeft);

    border-radius: var(--headerBorderRadius);
    border-top-left-radius: var(--headerBorderTopLeftRadius);
    border-top-right-radius: var(--headerBorderTopRightRadius);
    border-bottom-left-radius: var(--headerBorderBottomLeftRadius);
    border-bottom-right-radius: var(--headerBorderBottomRightRadius);

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-sticky {
    position: sticky;
    top: 0px;
}

.header-sm {
    height: 50px;
}

.header-md {
    height: 70px;
}

.header-lg {
    height: 90px;
}

.header-xl {
    height: 120px;
}

.header-xxl {
    height: 150px;
}

.header-3xl {
    height: 180px;
}

.header-4xl {
    height: 225px;
}

.header-5xl {
    height: 275px;
}

.header-6xl {
    height: 320px;
}


/* Logo */

.logo-left {
    /* Change this later, pos. absolute will not suffice */
    position: absolute;
    left: 10px;
}

.customponents-logo-sm {
    width: 75px;
}

.customponents-logo-md {
    width: 115px;
}

.customponents-logo-lg {
    width: 150px;
}

.customponents-logo-xl {
    width: 180px;
}

.customponents-logo-xxl {
    width: 225px;
}

.customponents-logo-3xl {
    width: 275px;
}

.customponents-logo-4xl {
    width: 350px;
}

.customponents-logo-link {
    text-decoration: none;
}

.customponents-logo-img {
    width: 100%;
}


/* Menus */

.customponents-menu {
    background: var(--menuBackground);
    opacity: var(--menuOpacity);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-dropdown {
    flex-direction: column;
}

.customponents-menu-hidden {
    display: none;
}

.menu-sm {
    width: 250px;
}

.menu-md {
    width: 300px;
}

.menu-lg {
    width: 350px;
}

.menu-xl {
    width: 400px;
}

.menu-xxl {
    width: 450px;
}

.menu-3xl {
    width: 500px;
}

.menu-4xl {
    width: 600px;
}

.menu-5xl {
    width: 700px;
}

.menu-6xl {
    width: 800px;
}


/* Menu Buttons */

.customponents-nav-menu-btn {
    background: var(--menuBtnBackground);
    color: var(--menuBtnTextColor);

    border: var(--menuBtnBorder);
    border-top: var(--menuBtnBorderTop);
    border-right: var(--menuBtnBorderRight);
    border-bottom: var(--menuBtnBorderBottom);
    border-left: var(--menuBtnBorderLeft);

    border-radius: var(--menuBtnBorderRadius);
    border-top-left-radius: var(--menuBtnBorderTopLeftRadius);
    border-top-right-radius: var(--menuBtnBorderTopRightRadius);
    border-bottom-left-radius: var(--menuBtnBorderBottomLeftRadius);
    border-bottom-right-radius: var(--menuBtnBorderBottomRightRadius);

    outline: var(--menuBtnOutline);

    cursor: pointer;
    font-size: var(--menuBtnFontSize);
    text-align: center;
    text-shadow: 0 0 4px rgba(0,0,0,0.25);
}

.customponents-nav-menu-btn a {
    color: var(--menuBtnTextColor);
    text-decoration: var(--menuBtnTextDecoration);
}

.nav-menu-btn-sm {
    width: 50rem;
}

.nav-menu-btn-md {
    width: 75rem;
}

.nav-menu-btn-lg {
    width: 100rem;
}